<h1>Editing term_session</h1>

<% form_for(@term_session, :html => {:class => "default"}) do |f| %>
  <%= f.error_messages %>

	<div>
		<%= f.label :day %>
		<%= f.date_select :day, :order => [:month, :day, :year] %>
	</div>
	
	<div>
		<%= f.label :start %>
		<%= f.time_select :start, :minute_step => 15 %>
	</div>
	
	<div>
		<%= f.label :end %>
		<%= f.time_select :end, :minute_step => 15 %>
	</div>
	
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
<%= link_to 'Show', @term_session %> |
<%= link_to 'Back', term_sessions_path %>