<% form_for(relative, :html => {:class => "default"}) do |f| %>
  <%= f.error_messages %>
	
	<div class="clearfix">
		<div class="p1">
		<% f.fields_for :person do |person_fields| %>
			<%= render :partial => "people/person_fields", :locals => {:f => person_fields, :person => relative.person} %>
		<% end %>
		</div><!-- end .p1-->
			
		<div class="p2">
			<% field_set_tag "Related Students" do %>
				<% relative.student_relationships.build if relative.student_relationships.empty? %>
				<span id="family">
				<% f.fields_for :student_relationships do |rf| %>
					<div class="student_relationship">
						<%= rf.collection_select :student_relationship_type_id, StudentRelationshipType.all, :id, :name, {:include_blank => true} %> of 
						<%= rf.collection_select :student_id, Student.alphabetical, :id, :name, {:include_blank => true} %>	
						<%= remove_link_unless_new_record(rf) -%>
					</div>
				<% end %>
				</span>
				<p><%= link_to 'Add a family member', '#family', :class => "add_association", :rel => 'student_relationship' %></p>
			
			<% end %>
			
			<% field_set_tag "Other Info" do %>
				<div>
					<%= f.label :country_id, "Country of origin" %>
					<%= f.collection_select :country_id, Country.all, :id, :name %>
				</div>
				
				<div class="input_set clearfix">
					<%= f.label :language_id, "Languages spoken at home" %>
						<% Language.all.each do |language| %>
						<span>
							<%= check_box_tag "student_relation[language_ids][]", language.id, relative.languages.include?(language) %><%= language.name %>
						</span>
						<% end %>
					</ul>
				</div>
				
				<div>
					<%= f.label :language_proficiency_id, "English language proficiency" %>
					<%= f.collection_select :language_proficiency_id, LanguageProficiency.all, :id, :level %>
				</div>
				
				<div>
					<%= f.label :citizenship_id, "Citizenship Status" %>
					<%= f.collection_select :citizenship_id, Citizenship.all, :id, :level %>
				</div>
				
				<div class="input_set clearfix">
					<%= f.label :tax_docs, "Tax Documentation? Comments" %>
					<span><%= f.check_box :tax_docs %></span>
					<span><%= f.text_field :tax_docs_comment %></span>
				</div>

				<div>
					<%= f.label :income, "Household income" %>
					<%= f.text_field :income %>
				</div>
				
				
			<% end %>
		</div><!-- end .p2 -->
	</div>
  <p>
    <%= f.submit %>
  </p>
<% end %>