<% form_for(organization_staff, :html => {:class => "default"}) do |f| %>
  <%= f.error_messages %>

	<div>
		<%= f.label :organization_staff_type_id, "Position" %>
		<%= f.collection_select :organization_staff_type_id, OrganizationStaffType.all, :id, :position, {:include_blank => true} %>
	</div>
	
	<div>
		<%= f.label :organization_id %>
		<%= f.collection_select :organization_id, Organization.alphabetical, :id, :name, {:include_blank => true} %>
	</div>
	
	<% f.fields_for :person do |person_fields| %>
		<%= render :partial => "people/person_fields", :locals => {:f => person_fields, :person => organization_staff.person} %>
	<% end %>
	
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= javascript_include_tag "application" %>