<h1>
	<%= @organization_staffs.size %> organization staffers
</h1>

<p><%= link_to "New Organization Staff", new_organization_staff_path %></p>

<table cellspacing="0" cellpadding="0" border="0" class="index">
	<thead>
  <tr>
		<th>Name</th>
		<th>Organization</th>
		<th>Position</th>
  </tr>
	</thead>
	<tbody>
	<% @organization_staffs.each do |staff| %>
	  <tr>
			<td><%= link_to staff.name, staff %></td>
			<td><%= staff.organization.name %></td>
			<td><%= staff.position %></td>
	  </tr>
	<% end %>
	</tbody>
</table>
