<%= field_set_tag "Basics" do %>
	<div class="input_set clearfix">
		<%= f.label :first_name, "Name" %>
		<span class="half">
			<%= f.text_field :first_name %>
			<%= f.label :first_name, "First" %>
		</span>
		<span class="half">
			<%= f.text_field :last_name	 %>
			<%= f.label :last_name, "Last" %>
		</span>
	</div>

	<div>
		<%= f.label :avatar, "Photo" %>
		<%= image_tag(person.avatar.url(:thumb), :class => "float_left") %>
		<%= f.file_field :avatar %>
	</div>

	<div class="input_set clearfix">
		<%= f.label :gender_m, "Gender" %>
		
		<span>
			<%= f.radio_button(:gender, "M") %>
			<%= f.label :gender_m, "M", :class => "radio" %>
		</span>
		<span>
			<%= f.radio_button(:gender, "F") %>
			<%= f.label :gender_f, "F", :class => "radio" %>
		</span>
	</div>

  <%= f.input :email %>

	<%= render :partial => "shared/contact_numbers", :locals => {:thing => person, :f => f}%>
<% end %>

	<%= render :partial => "shared/address_fields", :locals => {:f => f, :extended => true, :thing => person}%>