<%= image_tag(@person.avatar.url(:medium), :class => "avatar") %>
<h1><%= @person.name %> <%= link_to 'Edit', edit_person_path(@person) %></h1>

<h2 class="profile_header">Contact info</h2>
<table cellspacing="0" cellpadding="0" border="0" class="attribute_list">
	<tr>
		<th>Gender:</th>
		<td><%= @person.gender %></td>
	</tr>
</table>

<h2 class="profile_header">Contact info</h2>
<table cellspacing="0" cellpadding="0" border="0" class="attribute_list">
	<tr>
		<th>Email:</th>
		<td><%= @person.email %></td>
	</tr>
	<% @person.phone_numbers.each do |phone_number| %>
	<tr>
		<th><%= phone_number.name %> Phone:</th>
		<td><%= phone_number.number %></td>
	</tr>
	<% end %>
	<tr>
		<th>Address:</th>
		<td>
			<%= address(@person.address) %>
		</td>
	</tr>	
</table>

<%= display_and_remove_assets(@person) %>

<% form_for(@person, :html => {:multipart => true, :class => "default"}) do |f| %>
	<div>
		<%= f.label :data, "Attach file" %>
		<%= f.file_field :data %>
	</div>
	
	<p><%= f.submit "Add file" %></p>
<% end %>

<h2>Notes</h2>
<% @person.comments.each do |comment| %>
	<%= comment.comment %> <%= comment.updated_at("%b %d, %Y") %><%= link_to comment.user.login, user_path(comment.user) %>
<% end %>

<% @person.comments.build if @person.comments.empty? %>
<% form_for(@person, :html => {:multipart => true, :class => "default"}) do |f| %>
	<div>
		<% f.fields_for :comments do |cf| %>
			<%= cf.hidden_field :user_id, :value => current_user.id %>
			<%= cf.text_area :comment, :rows => 5 %>
		<% end %>
	</div>
	
	<p><%= f.submit "Add note" %></p>
<% end %>


<p><%= link_to 'Back', people_path %></p>