<%= error_messages_for(student) %>

<%= simple_form_for(student, :html => {:multipart => true, :class => "default"}) do |f| %>
  
	<div class="clearfix">
	<div class="p1">
		<%= f.fields_for :person do |person_fields| %>
			<%= render :partial => "people/person_fields", :locals => {:f => person_fields, :person => student.person} %>
		<% end %>
	</div>
	
	
	<div class="p2">
		<%= field_set_tag "Student details" do %>			
		  <%= f.input :birth_date, :as => :date, :start_year => 1995, :end_year => Time.now.year-3, :order => [:month, :day, :year], :include_blank => true %>
      <%= f.association :school, :collection => School.all %>
      <%= f.association :grade %>
      <%= f.association :language_proficiency, :label_method => :level %>
      <%= f.association :ethnicity %>
		<% end %>
		
		<%= field_set_tag "Interests" do %>
			<% student_activity_ids = student.activities.collect{|a| a.id} %>		
			<% Activity.roots.each do |activity| %>
			<ul class="float_left clearfix">
				<li><%= check_box_tag "student[activity_ids][]", activity.id, student_activity_ids.include?(activity.id) %> <strong><%= activity.name %></strong></li>
				<% activity.children.each do |sub_activity| %>
					<li><%= check_box_tag "student[activity_ids][]", sub_activity.id, student_activity_ids.include?(sub_activity.id) %> <%= sub_activity.name %></li>
				<% end %>
			</ul>
			<% end %>
		<% end %>		
		
		<%= field_set_tag "Adult Relatives" do %>
			<% student.student_relationships.build if student.student_relationships.empty? %>
			<span id="family">
			<% f.fields_for :student_relationships do |rf| %>
				<div class="student_relationship">
					<%= rf.collection_select :student_relation_id, StudentRelation.alphabetical, :id, :name, {:include_blank => true} %> is my	
					<%= rf.collection_select :student_relationship_type_id, StudentRelationshipType.all, :id, :name, {:include_blank => true} %>
					<%= remove_link_unless_new_record(rf) -%>
				</div>
			<% end %>
			</span>
			<p><%= link_to 'Add a family member', '#family', :class => "add_association", :rel => 'student_relationship' %></p>
			<p><%= link_to 'Create new parent', new_student_relation_path(:student_id => student.id) %></p>
		<% end %>
	</div>
	</div>
  <p>
    <%= f.submit %>
  </p>
<% end %>