<table cellspacing="0" cellpadding="0" border="0" class="index">
	<thead>
	  <tr>
			<th>&nbsp;</th>
			<th>Name</th>
			<th>Email</th>
			<th>Age</th>
			<th>Grade</th>
			<th>Gender</th>
			<% if school %><th>School</th><% end %>
	  </tr>
	</thead>
	<tbody>

	<% students.each do |student| %>
	  <tr>
			<td><%= image_tag student.avatar.url(:thumb) %></td>
			<td><%= link_to student.name, student %></td>
			<td><%= student.email %></td>
			<td><%= student.age %></td>
			<td><%= student.grade_name %>
			<td><%= student.gender %></td>
			<td>
				<% if student.school_id %><%= link_to student.school_name, school_path(student.school_id) %><% end %>
			</td>
	    <!--<td><%= link_to 'Edit', edit_student_path(student) %></td>-->
	  </tr>
	<% end %>
	</tbody>
</table>