<% form_for(student, :html => {:multipart => true, :class => "default"}) do |f| %>
  <%= f.error_messages %>
	<div class="clearfix">
	<div class="p1">
		<% f.fields_for :person do |person_fields| %>
			<%= render :partial => "people/person_fields", :locals => {:f => person_fields} %>
		<% end %>
	</div>
	<div class="p2">
		<% field_set_tag "Student details" do %>			
		<div>
			<%= f.label :birth_date %>
			<%= f.date_select :birth_date, :start_year => Time.now.year-12, :end_year => Time.now.year-3, :order => [:month, :day, :year] %>
		</div>

		<div>
				<%= f.label :school_id %>
				<%= f.collection_select :school_id, School.all, :id, :name, {:include_blank => true} %>
		</div>
		<div>
			<%= f.label :grade_id %>
			<%= f.collection_select :grade_id, Grade.all, :id, :name, {:include_blank => true} %>

		</div>
		<div class="input_set clearfix">
			<%= f.label :ethnicity_id %>
			<%= f.collection_select :ethnicity_id, Ethnicity.all, :id, :name, {:include_blank => true} %>
		</div>
		<% end %>
		<% field_set_tag "Interests" do %>
			<% Activity.top_level_activities.each do |activity| %>
			<ul class="float_left clearfix">
				<li><%= check_box_tag "student[activity_ids][]", activity.id, student.activities.include?(activity) %> <strong><%= activity.name %></strong></li>
				<% activity.children.each do |sub_activity| %>
					<li><%= check_box_tag "student[activity_ids][]", sub_activity.id, student.activities.include?(sub_activity) %> <%= sub_activity.name %></li>
				<% end %>
			</ul>
			<% end %>
		<% end %>		
	</div>
	</div>
  <p>
    <%= f.submit %>
  </p>
<% end %>