<h1>
	<%= @students.size %> 
	<%= correctly_pluralized_noun(@students.size, "student") %> 
	<%= link_to "new", new_student_path %>
</h1>

<table cellspacing="0" cellpadding="0" border="0" class="index">
	<thead>
	  <tr>
			<th>&nbsp;</th>
			<th>Name</th>
			<th>Email</th>
			<th>Age</th>
			<th>Grade</th>
			<th>Gender</th>
			<th>Ethnicity</th>
			<th>Interests</th>
			<th>School</th>
	  </tr>
	</thead>
	<tbody>

	<% @students.each do |student| %>
	  <tr>
			<td><%= image_tag student.person.avatar.url(:thumb) %></td>
			<td><%= link_to student.name, student %></td>
			<td><%= student.person.email %></td>
			<td><%= student.age %></td>
			<td><%= associated_attribute(student.grade, :name) %>
			<td><%= student.gender %></td>
			<td><%= associated_attribute(student.ethnicity, :name) %>	
			<td><%= student.activities_list %></td>
			<td><%= link_to student.school.name, school_path(student.school_id) if student.school %></td>
	    <!--<td><%= link_to 'Edit', edit_student_path(student) %></td>-->
	  </tr>
	<% end %>
	</tbody>
</table>
