<h1>New student</h1>

<% form_for(@student, :html => {:multipart => true, :class => "default"}) do |f| %>
  <%= f.error_messages %>

	<div class="input_set clearfix">
		<span>
			<%= f.label :first_name %>
			<%= f.text_field :first_name, :size => 13 %>
		</span>
		<span>
			<%= f.label :last_name %>
			<%= f.text_field :last_name, :size => 13	 %>
		</span>
	</div>
		
	<div>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>
		
	<div class="input_set clearfix">
		<span>
			<%= f.label :home_phone %>
			<%= f.text_field :home_phone, :size => 13 %>
		</span>		
		<span>
			<%= f.label :cell_phone %>
			<%= f.text_field :cell_phone, :size => 13 %>
		</span>
	</div>
				
		<%= render :partial => "address_fields", :locals => {:f => f}%>
		
	<div>
		<%= f.label :avatar, "Photo" %>
		<%= f.file_field :avatar %>
	</div>
	
	<div>
		<%= f.label :birth_date %>
		<%= f.date_select :birth_date, :start_year => Time.now.year-12, :end_year => Time.now.year-3, :order => [:month, :day, :year] %>
	</div>
	
	<div class="input_set">
		<span>
			<%= f.label :school_id %>
			<%= f.collection_select :school_id, School.all, :id, :name %>
		</span>
		<span>
			<%= f.label :grade_id %>
			<%= f.collection_select :grade_id, Grade.all, :id, :name, {:prompt => ""} %>
		</span>
	</div>
		
	<div>
		<%= f.label :ethnicity_id %>
		<%= f.collection_select :ethnicity_id, Ethnicity.all, :id, :name %>
	</div>

			
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', students_path %>