	<%= image_tag(@student.person.avatar.url(:medium), :class => "avatar") %>
	<h1><%= @student.person.name %> <%= link_to 'Edit', edit_student_path(@student) %></h1>


	<dl>
			<dt>School:</dt> 
			<dd><% if @student.school %><%= link_to @student.school.name, school_path(@student.school) %><% end %>&nbsp;</dd>
			
			<dt>Grade</dt>
			<dd><%= associated_attribute(@student.grade, :name) %>&nbsp;</dd>
			
			<dt>Gender:</dt> 
			<dd><%= @student.gender %>&nbsp;</dd>
			
			<% @student.contact_numbers.each do |number| %>
				<dt><%= number.name %>:</dt> <dd><%= number.number %></dd>
			<% end %>
			
			<dt>Address:</dt>
			<dd><address><%= address(@student.address) %></address></dd>
			
			<dt>Email:</dt> 
			<dd><%= @student.email %>&nbsp;</dd>
			
			<dt>Birthdate:</dt> 
			<dd>
			<% if @student.birth_date %>
				 <%= @student.birth_date.strftime("%b %d, %Y") %> (Age <%= @student.age %>)
			<% end %>&nbsp;</dd>
			
			<dt>Ethnicity:</dt>
			<dd><%= associated_attribute(@student.ethnicity, :name) %>&nbsp;</dd>
			
			<dt>Interests</dt>
			<dd><%= @student.activities_list %>&nbsp;</dd>
		</dl>
		
		<dl>
		<% @student.student_relationships.each do |relationship| %>
			<dt><%= relationship.name %></dt> 
			<dd><%= link_to relationship.student_relation.name, student_relation_path(relationship.student_relation) %></dd>
		<% end %>
		</dl>
<p><%= link_to 'Back', students_path %></p>