<div id="content_main">
	<div class="clearfix">
		<h1><%= link_to @student.name, edit_student_path(@student) %></h1> 
	</div>
	
	<h2>Terms</h2>

</div>

<div id="content_secondary">

	<%= image_tag(@student.person.avatar.url(:medium)) %>

	<table cellpadding="0" cellspacing="0" border="0" class="info">
		
		<%= render :partial => "shared/person_content_secondary", :locals => {:local_model => @student} %>
		
		<tr>
			<th>School:</th> 
			<td><% if @student.school %><%= link_to @student.school.name, school_path(@student.school) %><% end %> </td>
		</tr>
		<tr>
			<th>Grade:</th>
			<td><%= associated_attribute(@student.grade, :name) %>&nbsp;</td>
		</tr>
		<tr>
			<th>Birthdate:</th>
			<td> 
				<% if @student.birth_date %>
					 <%= @student.birth_date.strftime("%m.%d.%y") %> (Age <%= @student.age %>)
				<% end %>&nbsp;</dd>
			</td>
		</tr>
		<tr>
			<th>Ethnicity:</th>
			<td><%= associated_attribute(@student.ethnicity, :name) %>&nbsp;</td>
		</tr>		
		<tr>
			<th>Interests: </th>
			<td><%= @student.activities_list %>&nbsp;</td>
		</tr>	
		<tr>
			<th>Siblings: </th>
			<td>
				<% @student.siblings.each do |sibling| %>
					<%= link_to sibling.student.name, student_path(sibling.student) %><br />
				<% end %>
			</td>
		</tr>
		<% @student.student_relationships.each do |relationship| %>
			<tr>
				<th><%= relationship.name %>: </th> 
				<td><%= link_to relationship.student_relation.name, student_relation_path(relationship.student_relation) %></td>
			</tr>
		<% end %>		
	</table>

	<%= render :partial => "shared/manage_assets", :locals => {:local_model => @student.person} %>

	<%= render :partial => "shared/manage_comments", :locals => {:local_model => @student.person} %>
</div>

<%= javascript_include_tag "application" %>