<%= error_messages_for(school_staff) %>

<%= simple_form_for(school_staff, :html => {:class => "default"}) do |f| %>
	<div class="clearfix">
	
	<div class="p1">
		<%= f.fields_for :person do |person_fields| %>
			<%= render :partial => "people/person_fields", :locals => {:f => person_fields, :person => school_staff.person} %>
		<% end %>
	</div> 

	
	<div class="p2">
		<%= field_set_tag "Employment" do %>
		
		  <%= f.association :school_staff_type, :label => "Position", :label_method => :position %>
		
		  <%= f.association :school %>
		<% end %>
	</div> <!-- end .p2 -->
	</div> <!-- end .clearfix -->

  <p>
    <%= f.submit %>
  </p>
<% end %>