<div id="content_main">
	<div class="clearfix">
		<div class="heading">
			<h1><%= @school_staff.name %></h1>
			<h3><%= @school_staff.position %> @<%= @school_staff.school.name %></h3>
		</div>
	
		<div class="nav_model_util">
			<%= link_to 'Edit Staffer', edit_school_staff_path(@school_staff) %>
			<%= link_to "Edit #{@school_staff.school.name}", school_path(@school_staff.school) %>
		</div>
	</div>

	<p><%= link_to 'Back', school_staffs_path %></p>
</div>

<div id="content_secondary">

	<%= image_tag(@school_staff.person.avatar.url(:medium)) %>

	<table cellpadding="0" cellspacing="0" border="0" class="info">
		<%= render :partial => "shared/person_content_secondary", :locals => {:local_model => @school_staff} %>
	</table>

	<%= render :partial => "shared/manage_assets", :locals => {:local_model => @school_staff.person} %>

	<%= render :partial => "shared/manage_comments", :locals => {:local_model => @school_staff.person} %>
</div>

<%= javascript_include_tag "application" %>

