<div id="content_main">
	<div class="clearfix">
		<div class="heading">
			<h1>
				<div class="breadcrumbs_past"><%= link_to @term.program.organization.name, organization_path(@term.program.organization) %> > 
				<%= link_to @term.program.name, program_path(@term.program) %> > </div>
				<%= link_to(full_date(@term.start) + " - " + full_date(@term.end), edit_term_path) %>
			</h1>
		</div>

	</div>
	
	<h2>Sessions (<%= @term.term_sessions.size%>)</h2>
	
	<p><a href="#form_generate_sessions" class="click_to_expose">Generate Sessions</a></p>
	<form method="post" id="form_generate_sessions" action="<%= url_for(:action => "generate_sessions", :id => @term.id) %>" class="default hide">
		<input type="hidden" value="<%=form_authenticity_token %>" name="authenticity_token" />
		
		<div class="clearfix input_set">
		<label>Days of Week</label>
			
		<span>
			<label>Sunday</label>
			<%= check_box_tag("dow[]", "Sunday")%>
		</span>
		
		<span>
			<label>Monday</label>
			<%= check_box_tag("dow[]", "Monday")%>
		</span>
		
		<span>
			<label>Tuesday</label>
			<%= check_box_tag("dow[]", "Tuesday")%>
		</span>	
		
		<span>
			<label>Wednesday</label>
			<%= check_box_tag("dow[]", "Wednesday")%>
		</span>
		
		<span>
			<label>Thursday</label>
			<%= check_box_tag("dow[]", "Thursday")%>
		</span>
		
		<span>
			<label>Friday</label>
			<%= check_box_tag("dow[]", "Friday")%>
		</span>	
		
		<span>
			<label>Saturday</label>
			<%= check_box_tag("dow[]", "Saturday")%>
		</span>		
		</div>
		
		<div>
			<label for="term_session_start">Start Time</label>
			<%= time_select(:term_session, :start, :minute_step => 15) %>
		</div>
		<div>
			<label for="term_session_end">End Time</label>
			<%= time_select(:term_session, :end, :minute_step => 15) %>
		</div>
		
		<input type="submit" value="Generate" />
	</form>

	<table cellspacing="0" cellpadding="0" border="0" class="index" id="term_sessions"> 
		<thead>
	  <tr>
			<th>Date</th>
			<th>Start Time</th>
			<th>End Time</th>
			<th>Hours</th>
			<th>&nbsp;</th>
	  </tr>
		</thead>
		<tbody>
		<% @term.term_sessions.ordered.each do |term_session| %>
		  <%= render :partial => "term_sessions/term_session", :locals => {:term_session => term_session} %>
		<% end %>
		</tbody>
	</table>
	
	<p><a href="#dialog-form" class="click_for_modal" target="term_sessions">Add A Session</a></p>
	
	<div id="dialog-form" title="Add A Session">
	<% form_for(TermSession.new, :html => {:class => "default"}) do |f| %>
	  <%= f.error_messages %>
		
			<div>
				<%= f.label :day %>
				<%= f.date_select :day, :order => [:month, :day, :year] %>
			</div>

			<div>
				<%= f.label :start %>
				<%= f.time_select :start, :minute_step => 15 %>
			</div>

			<div>
				<%= f.label :end %>
				<%= f.time_select :end, :minute_step => 15 %>
			</div>
			
			<%= f.hidden_field :term_id, :value => @term.id %>
	<% end %>
	</div>
</div>

<div id="content_secondary">
	<table cellpadding="0" cellspacing="0" border="0" class="info">
		<tr>
			<th>Cost:</th>
			<td><%= @term.cost %>
		</tr>
		<tr
			<th>Total Hours:</th>
			<td><%= @term.total_hours %></td>
		<tr>
			<th>Location:</th>
			<td><b><%= link_to @term.address.addressable.name, addressable_path(@term.address) %></b><br /> <%= address(@term.address) %></td>
		</tr>
	</table>
	
	<div class="content_secondary_group">
		<h2>Calendar</h2>
		<%= session_calendar(@term.term_sessions) %>
	</div>

	<%= render :partial => "shared/manage_assets", :locals => {:local_model => @term} %>

	<%= render :partial => "shared/manage_comments", :locals => {:local_model => @term} %>
</div>