<% form_for(program, :html => {:class => "default"}) do |f| %>
  <%= f.error_messages %>

	<div class="clearfix">
	<div class="p1">
		<% field_set_tag "Basics" do %>
			<div>
				<%= f.label :name %>
				<%= f.text_field :name %>
			</div>

	
			<div>
				<%= f.label :description %>
				<%= f.text_area :description %>
			</div>
	
			<div>
				<%= f.label :organization_id %>
				<%= f.collection_select :organization_id, Organization.alphabetical, :id, :name %>
			</div>
			
			<div class="input_set clearfix">
				<%= f.label :gender_m, "Gender" %>
				<span>
					<%= f.radio_button(:gender, "M") %>
					<%= f.label :gender_m, "M", :class => "radio" %>
				</span>
				<span>
					<%= f.radio_button(:gender, "F") %>
					<%= f.label :gender_f, "F", :class => "radio" %>
				</span>
				<span>
					<%= f.radio_button(:gender, "MF") %>
					<%= f.label :gender_mf, "Both", :class => "radio" %>
				</span>
				
				
			</div>
			
			<div class="input_set clearfix">
				<%= f.label :scholarship, "Scholarship Available" %>
				<%= f.check_box :scholarship %>
			</div>
			
			<div>
				<%= f.label :ages %>
				<%= f.collection_select(:age_ids, Age.all, :id, :age, { :selected => program.age_ids }, { :multiple => true, :size => 6, :name => 'program[age_ids][]' }) -%>
			</div>
		<% end %>
	</div><!-- end .p1-->
	
	<div class="p2">
		<% field_set_tag "Activities" do %>
			<% program_activity_ids = program.activities.collect{|a| a.id} %>
			<% Activity.top_level.each do |activity| %>
			<ul class="float_left clearfix">
				<li><%= check_box_tag "program[activity_ids][]", activity.id, program_activity_ids.include?(activity.id) %> <strong><%= activity.name %></strong></li>
				<% activity.children.each do |sub_activity| %>
					<li><%= check_box_tag "program[activity_ids][]", sub_activity.id, program_activity_ids.include?(sub_activity.id) %> <%= sub_activity.name %></li>
				<% end %>
			</ul>
			<% end %>
		<% end %>	
			
	</div> <!-- end .p2 -->
	</div><!-- end .clearfix -->
  <p>
    <%= f.submit %>
  </p>
<% end %>
