<div id="content_main">
	<div class="clearfix">
		<div class="heading">
			<h1>
				<div class="breadcrumbs_past"><%= link_to @program.organization.name, organization_path(@program.organization) %> ></div>
				<%= link_to @program.name, edit_program_path(@program) %>			
			</h1>
			<h3><%= @program.description %></h3>
		</div>
		
		<div class="nav_model_util">
			<%= link_to 'All Programs', programs_path %>
			<%= link_to 'New Term', new_term_path %>
			<%= link_to 'New Staffer', new_organization_staff_path %>			
		</div>
	</div>
	
	<h2>Terms (<%= @program.terms.size %>)</h2>

	<table cellspacing="0" cellpadding="0" border="0" class="index">
		<thead>
	  <tr>
			<th>Start</th>
			<th>End</th>
			<th>Cost</th>
			<th>Total Hours</th>
			<th>Location</th>
	  </tr>
		</thead>
		<tbody>
		<% @program.terms.each do |term| %>
		  <tr>
				<td><%= link_to full_date(term.start), term_path(term) %></td>
				<td><%= full_date(term.end) %></td>
				<td><%= term.cost %></td>
				<td><%= term.total_hours %></td>
				<td><%= term.address.addressable.name %></td>
		  </tr>
		<% end %>
		</tbody>
	</table>	
	
	
	<h2>Staff (<%= @program.organization_staffs.size %>)</h2>
	<ul>
		<% @program.organization_staffs.each do |staff| %>
		<li><%= link_to staff.name, organization_staff_path(staff) %> - <%= staff.position %></li>
		<% end %>
	</ul>

</div>

<div id="content_secondary">

	<table cellpadding="0" cellspacing="0" border="0" class="info">
		<tr>
			<th>Scholarships:</th>
			<td><%= @program.scholarship %></td>
		</tr>
		<tr>
			<th>Gender:</th>
			<td><%= @program.gender %></td>
		</tr>
		<tr>
			<th>Ages:</th>
			<td><%= @program.ages_list %>
		</tr>
		<tr>
			<th>Activities:</th>
			<td><%= @program.activities_list %></td>
		</tr>
	</table>

	<%= render :partial => "shared/manage_assets", :locals => {:local_model => @program} %>

	<%= render :partial => "shared/manage_comments", :locals => {:local_model => @program} %>
</div>