<% user.password = user.password_confirmation = nil %>

<%= error_messages_for :user %>
<%= simple_form_for(user, :html => {:class => "default"}) do |f| -%>

<%= f.input :login %>
<%= f.input :email %>

<div class="input_set clearfix">
	<%= f.label :password %>
	<span>
		<%= f.password_field :password%>
		<%= f.label :password %>
	</span>
	<span>
		<%= f.password_field :password_confirmation %>
		<%= f.label :password_confirmation, 'Confirm Password' %>
	</span>
</div>

<div class="input_set clearfix">
	<%= f.label :first_name, "Name" %>
	<span>
		<%= f.text_field :first_name %>
		<%= f.label :first_name, "First" %>
	</span>
	<span>
		<%= f.text_field :last_name %>
		<%= f.label :last_name, "Last" %>
	</span>
</div>

<%= f.input :phone %>
<%= f.input :title %>

<p><%= submit_tag %></p>
<% end -%>
