<h1><%= @users.size %> users </h1>

<p><%= link_to 'New User', new_user_registration_path %></p>

<table cellspacing="0" cellpadding="0" border="0" class="index">
	<thead>
		<tr>
			<th>Email</th>
			<th>First Name</th>
			<th>Last Name</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
		<tr>
			<td><%= link_to user.email, edit_user_registration_path(user) %></td>
			<td><%= user.first_name %></td>
			<td><%= user.last_name %></td>
		</tr>
		<% end %>
	</tbody>
</table>