<h1>Users</h1>

<table cellspacing="0" cellpadding="0" border="0" class="index">
	<thead>
		<tr>
			<th>Login</th>
			<th>First</th>
			<th>Last</th>
			<th>Email</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
		<tr>
			<td><%= user.login %></td>
			<td><%= user.first_name %></td>
			<td><%= user.last_name %></td>
			<td><%= user.email %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= link_to 'New user', new_user_path %>