<% thing.build_address unless thing.address %>

<% f.fields_for :address do |af| %>
	<% field_set_tag "Address" do %>
	<div class="input_set clearfix">
		<span class="full">
			<%= af.text_field :address1 %>
			<%= af.label :address1, "Street Address" %>
		</span>

		<span class="full">
			<%= af.text_field :address2 %>
			<%= af.label :address2, "Address (line 2)" %>
		</span>

		<span>
			<%= af.text_field :city, :size => 12 %>
			<%= af.label :city %>
		</span>
		<span>
			<%= af.collection_select :state_id, State.all, :id, :abbr %>
			<%= af.label :state_id %>
		</span>
		<span>
			<%= af.text_field :zip, :size => 5 %>
			<%= af.label :zip %>
		</span>
	<% if extended %>
		<span>
			<%= af.collection_select :county_id, County.all, :id, :name, {:include_blank => true} %>
			<%= af.label :county_id %>
		</span>

		<span>		
			<%= af.collection_select :neighborhood_id, Neighborhood.all, :id, :name, {:include_blank => true} %>
			<%= af.label :neighborhood_id %>
		</span>
	<% end %>
	</div>
	<% end %>
<% end %>