<% thing.contact_numbers.build if thing.contact_numbers.empty? %>
<%= f.label :number, "Contact Numbers" %>
<span id="contact_numbers">
	<%= f.fields_for :contact_numbers do |pf| %>
		<div class="contact_number input_set clearfix">
			<span>
				<%= pf.text_field :number, :size => 25 %>
				<%= pf.label :number %>
			</span>
			<span><%= pf.collection_select :contact_number_type_id, ContactNumberType.all, :id, :name, {:include_blank => true} %> 
				<%= remove_link_unless_new_record(pf) -%>
				<%= pf.label :contact_number_type_id, "Type" %>
			</span>
		</div>
	<% end %>
</span>
<p><%= link_to 'Add a contact number', '#contact_numbers', :class => "add_association", :rel => 'contact_number' %></p>