<div class="content_secondary_group">
	<h2>Attachments (<%= local_model.assets.size  %>)</h2>
	
	<div class="content_secondary_group_content">
		<div class='remote_form_msg'></div>
		<ul>
			<% local_model.assets.each do |asset| %>
			<li>
				<%= link_to asset.data_file_name, asset.url %> 
				<span class="action_link">
					(<%= link_to "remove", {:controller => "assets", :action => "destroy", :id => asset.id}, :class => "remote_form" %>)
				</span>
			</li>
			<% end %>
		</ul>

		<p class="clearfix"><a href="#attachment_form" class="button_green click_to_expose"><b>Add</b></a></p>

		<%= simple_form_for(local_model, :html => {:multipart => true, :class => "hide", :id => "attachment_form"}) do |f| %>
		 <% if return_model %>
			<%= hidden_field_tag :return_model, return_model %>
		 <% end %>
			<div><%= f.file_field :data, :size => 15 %></div>
			<p><%= f.submit "Add" %></p>
		<% end %>
	</div>
</div>