<p><%= link_to "Students", students_url %></p>
<p><%= link_to "Schools", schools_url %></p>
<p><%= link_to "Users", users_url %></p>



<h2>Edit Options</h2>
<ul>
	<li><%= link_to "Activities", activities_url %></li>
	<li><%= link_to "Counties", counties_url %></li>
	<li><%= link_to "Neighborhoods", neighborhoods_url %></li>
	<li><%= link_to "States", states_url %></li>
	<li><%= link_to "Ethnicities", ethnicities_url %></li>
	<li><%= link_to "Grades", grades_url %></li>
</ul>

