<%= simple_form_for(school, :html => {:multipart => true, :class => "default"}) do |f| %>
	
	<div class="clearfix">
		<div class="p1">
		<%= field_set_tag "Basics" do %>
			<%= f.input :name %>
			
			<div>		
				<%= f.label :avatar, "Photo" %>
				<%= image_tag(school.avatar.url(:thumb), :class => "float_left") %>
				<%= f.file_field :avatar %>
			</div>
	
			<%= f.input :email %>
			
			<div class="input_set clearfix">
				<label>Stats</label>
				<span>
					<%= f.text_field :student_count, :size => 5 %>
					<%= f.label :student_count, "# of Students" %>
				</span>
			
				<span>
					<%= f.text_field :minority_percentage, :size => 5 %>
					<%= f.label :minority_percentage, "% Minority" %>
				</span>
			
				<span>
					<%= f.text_field :reduced_lunch_percentage, :size => 5 %>
					<%= f.label :reduced_lunch_percentage, "% Reduced lunch" %>
				</span>
			</div>
			
			<div class="input_set clearfix">
				<%= f.label :ethnicities, "Ethnicity breakdown"  %>
				
				<% Ethnicity.all.each do |eth| %>
					<% es = @school.ethnicities.include?(eth) ? EthnicitiesSchool.find_by_ethnicity_id(eth.id) : EthnicitiesSchool.new %>
					<% f.fields_for :ethnicities_schools, es do |ef| %>
						<span>
							<%= ef.hidden_field :ethnicity_id, :value => eth.id %>
							<%= ef.text_field :percentage, :size => 5 %>
							<%= ef.label :percentage, eth.name %>
						</span>
					<% end %>
				<% end %>
			</div>
			
			<%= f.association :grades, :as => :check_boxes %>
			
			<%= render :partial => "shared/contact_numbers", :locals => {:thing => school, :f => f}%>
			
		<% end %>
		</div>
		<div class="p2">	
			<%= render :partial => "shared/address_fields", :locals => {:f => f, :extended => true, :thing => school}%>
		</div>
	</div>
  <p>
    <%= f.submit %>
  </p>
<% end %>
