<% form_for(school, :html => {:multipart => true, :class => "default"}) do |f| %>
  <%= f.error_messages %>
	
	<div class="clearfix">
		<div class="p1">
		<% field_set_tag "Basics" do %>
			<div>
				<%= f.label :name %>
				<%= f.text_field :name %>
			</div>
	
			<div>		
				<%= f.label :avatar, "Photo" %>
				<%= image_tag(school.avatar.url(:thumb), :class => "float_left") %>
				<%= f.file_field :avatar %>
			</div>
	
			<div>
				<%= f.label :email %>
				<%= f.text_field :email %>
			</div>
			
			
			<div class="input_set clearfix">
				<%= f.label :grade, "Grades" %>
				<ul class="float_left clearfix">
				<% Grade.all.each_with_index do |grade, index| %>
					<li><%= check_box_tag "school[grade_ids][]", grade.id, school.grades.include?(grade) %> <%= grade.name %></li>
					<% if index != 0 and index%3 == 0  %>
						</ul>
						<ul class="float_left clearfix">
					<% end %>
				<% end %>
				</ul>
			</div>
			
			<%= render :partial => "shared/contact_numbers", :locals => {:thing => school, :f => f}%>
			
		<% end %>
		</div>
		<div class="p2">	
			<%= render :partial => "shared/address_fields", :locals => {:f => f, :extended => true, :thing => school}%>
		</div>
	</div>
  <p>
    <%= f.submit %>
  </p>
<% end %>
