<%= image_tag(@school.avatar.url(:medium), :class => "avatar") %>
<h1><%= @school.name %> <%= link_to 'Edit', edit_school_path(@school) %></h1>

<dl>
	<% @school.contact_numbers.each do |number| %>
		<dt><%= number.name %>:</dt> <dd><%= number.number %></dd>
	<% end %>
	<dt>Email:</dt> <dd><%= @school.email %><dd>
	<dt>Address:</dt><dd><address><%= address(@school.address) %></address></dd>
</dl>

<%= display_and_remove_assets(@school) %>

<% form_for(@school, :html => {:multipart => true, :class => "default"}) do |f| %>
	<div>
		<%= f.file_field :data %>
	</div>
	
	<p>
    <%= f.submit "Add attachment" %>
  </p>
<% end %>


<h2><%= @school.comments.size %> Notes</h2>
<% @school.comments.each do |comment| %>
	<p><%= link_to comment.comment, edit_school_comment_path(@school, comment), :class => "text-like_link" %> &#8212; <%= link_to comment.user.login, edit_user_path(comment.user) %> <%= comment.updated_at.strftime("%b %d, %Y") %> (<%= link_to 'remove', school_comment_path(@school, comment), :confirm => 'Are you sure?', :method => :delete %>)</p>
<% end %>

<% form_for(@school, :html => {:multipart => true, :class => "default"}) do |f| %>
	<div>
		<% f.fields_for :comments, Comment.new do |cf| %>
			<%= cf.hidden_field :user_id, :value => current_user.id %>
			<%= cf.text_area :comment, :rows => 5 %>
		<% end %>
	</div>
	
	<p><%= f.submit "Add note" %></p>
<% end %>


<h2 class="clear"><%= @school.students.size %> Students</h2>
<table cellspacing="0" cellpadding="0" border="0" class="index">
	<thead>
	  <tr>
			<th>&nbsp;</th>
			<th>Name</th>
			<th>Email</th>
			<th>Age</th>
			<th>Grade</th>
			<th>Gender</th>
	  </tr>
	</thead>
	<tbody>

	<% @school.students.each do |student| %>
	  <tr>
			<td><%= image_tag student.person.avatar.url(:thumb) %></td>
			<td><%= link_to student.person.name, student %></td>
			<td><%= student.person.email %></td>
			<td><%= student.age %></td>
			<td><%= associated_attribute(student.grade, :name) %></td>
			<td><%= student.gender %></td>
	  </tr>
	<% end %>
	</tbody>
</table>
<p><%= link_to "New student", new_student_path %></p>

<%= javascript_include_tag "application" %>