<%= image_tag(@school.avatar.url(:medium), :class => "avatar") %>
<h1><%= @school.name %> <%= link_to 'Edit', edit_school_path(@school) %></h1>

<address>
	<%= address(@school) %>
</address>

<h2 class="clear"><%= @school.students.size %> Students</h2>
<table cellspacing="0" cellpadding="0" border="0" class="index">
	<thead>
	  <tr>
			<th>&nbsp;</th>
			<th>Name</th>
			<th>Email</th>
			<th>Age</th>
			<th>Grade</th>
			<th>Gender</th>
	  </tr>
	</thead>
	<tbody>

	<% @school.students.each do |student| %>
	  <tr>
			<td><%= image_tag student.person.avatar.url(:thumb) %></td>
			<td><%= link_to student.person.name, student %></td>
			<td><%= student.person.email %></td>
			<td><%= student.age %></td>
			<td><%= associated_attribute(student.grade, :name) %></td>
			<td><%= student.gender %></td>
	  </tr>
	<% end %>
	</tbody>
</table>
<p><%= link_to "New student", new_student_url %></p>