<%= simple_form_for(neighborhood) do |f| %>
	
	<%= f.input :ord, :label => 'Order', :input_html => {:size => 2} %>
	<%= f.input :name %>
	
	<%= f.association :county %>
	
  <p>
    <%= f.button :submit %>
  </p>
<% end %>

