<%= simple_form_for(neighborhood, :html => {:class => "default"}) do |f| %>
	
	<%= f.input :ord, :label => 'Order', :input_html => {:size => 2} %>
	<%= f.input :name, :input_html => {:class => 'auto'} %>
	
	<%= f.association :county %>
	
  <p>
    <%= f.button :submit %>
  </p>
<% end %>

