<h1><%= @neighborhoods.size %> <%= correctly_pluralized_noun(@neighborhoods.size, "neighborhood") %> <%= link_to 'new', new_neighborhood_path %></h1>

<ul>
<% @neighborhoods.each do |neighborhood| %>
  <li><%= neighborhood.ord %> - <%= link_to neighborhood.name, edit_neighborhood_path(neighborhood)%></li>
<% end %>
</ul>

