<h1><%= @neighborhoods.size %> <%= correctly_pluralized_noun(@neighborhoods.size, "neighborhood") %> </h1>

<p><%= link_to 'New Neighborhood', new_neighborhood_path %></p>

<ul>
<% @neighborhoods.each do |neighborhood| %>
  <li><%= neighborhood.ord %> - <%= link_to neighborhood.name, edit_neighborhood_path(neighborhood)%></li>
<% end %>
</ul>

