<% form_for(organization, :html => {:class => "default"}) do |f| %>
  <%= f.error_messages %>
	<div class="clearfix">
		<div class='p1'>
			<% field_set_tag "Basics" do %>
			<div>
				<%= f.label :name %>
				<%= f.text_field :name %>
			</div>
	
			<div>
				<%= f.label :url %>
				<%= f.text_field :url %>
			</div>
	
			<div>
				<%= f.label :email %>
				<%= f.text_field :email %>
			</div>
	
			<div>
				<%= f.label :description %>
				<%= f.text_area :description, :rows => 4, :cols => 60 %>
			</div>
		<%= render :partial => "shared/contact_numbers", :locals => {:thing => organization, :f => f}%>
		<% end %>
		</div>
		
		<div class="p2">
	
			<%= render :partial => "shared/address_fields", :locals => {:f => f, :extended => true, :thing => organization}%>
		</div>
	</div>
  <p>
    <%= f.submit %>
  </p>
<% end %>
