<%= simple_form_for(organization, :html => {:class => "default"}) do |f| %>
	<div class="clearfix">
		<div class='p1'>
			<%= field_set_tag "Basics" do %>

			<%= f.input :name %>
	    
	    <%= f.input :url %>
	  
	    <%= f.input :email %>
	    <%= f.input :description, :as => :text %>

		<%= render :partial => "shared/contact_numbers", :locals => {:thing => organization, :f => f}%>
		<% end %>
		</div>
		
		<div class="p2">
	
			<%= render :partial => "shared/address_fields", :locals => {:f => f, :extended => true, :thing => organization}%>
		</div>
	</div>
  <p>
    <%= f.submit %>
  </p>
<% end %>
