<h1>
	<%= @organizations.size %> organizations
</h1>

<p><%= link_to "New Organization", new_organization_path %></p>

<table cellspacing="0" cellpadding="0" border="0" class="index">
	<thead>
  <tr>
		<th>Name</th>
		<th>Description</th>
		<th>Url</th>
  </tr>
	</thead>
	<tbody>
	<% @organizations.each do |org| %>
	  <tr>
			<td><%= link_to org.name, org %></td>
			<td><%= org.description %></td>
			<td><%= org.url %></td>
	  </tr>
	<% end %>
	</tbody>
</table>
