<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= yield(:title) %> Urban Enrichment</title>
  <%= stylesheet_link_tag 'scaffold' %>
	<%= javascript_include_tag 'jquery-1.4.2.min'%>
</head>
<body>
	<div id="header">
		<a href="/" id="branding">Urban Enrichment nyc</a>
		<div id="nav_secondary">
				<%= link_to current_user.login, edit_user_path(current_user)%>
			  <%=link_to "log out", logout_path, { :title => "Log out" } %>
		</div>
	</div>

	<div id="nav_primary">
		<ul>
			<li><%= link_with_highlight "Students", :controller => "students" %></li>
			<li><%= link_with_highlight "Parents", :controller => "student_relations" %></li>
			<li><%= link_with_highlight "Schools", :controller => "schools" %></li>
			<li><%= link_with_highlight "School Staff", :controller => "school_staffs" %></li>
			<li><%= link_with_highlight "Users", :controller => "users" %></li>
		</ul>

		<ul>
			<li><%= link_with_highlight "Relationship Types", :controller => "relationship_types" %></li>
			<li><%= link_with_highlight "Activities", :controller => "activities" %></li>
			<li><%= link_with_highlight "Counties", :controller => "counties" %></li>
			<li><%= link_with_highlight "Neighborhoods", :controller => "neighborhoods" %></li>
			<li><%= link_with_highlight "States", :controller => "states" %></li>
			<li><%= link_with_highlight "Ethnicities", :controller => "ethnicities" %></li>
			<li><%= link_with_highlight "Grades", :controller => "grades" %></li>
			<li><%= link_with_highlight "Contact# Types", :controller => "contact_number_types" %></li>
			<li><%= link_with_highlight "School Staff Types", :controller => "school_staff_types" %></li>
		</ul>

	</div>		
	
	<div id="content" class="clearfix">
		<p style="color: green"><%= flash[:notice] %></p>
	

		<%= yield %>
	</div>
	
</body>
</html>
