<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
	<div id="header">
		<a href="/" id="branding">Urban Enrichment nyc</a>
		<div id="nav_secondary">
				<%= link_to current_user.login, edit_user_url(current_user)%>
			  <%=link_to "log out", logout_path, { :title => "Log out" } %>
		</div>
	</div>
	
	<div id="nav_primary_wrapper" class="clearfix">
		<div id="nav_primary">
			<%= link_with_highlight 'Students', :controller => "students" %>
			<%= link_with_highlight 'Schools', :controller => "schools" %>
			<a href="#">Organizations</a>
			<a href="#">Programs</a>
		</div>		
	</div>


	<div id="container">
	
	<p style="color: green"><%= flash[:notice] %></p>

	<%= yield %>
	</div>

</body>
</html>
